$black: rgb(36, 36, 36);
$darkGray: #868e96;
$yellow: rgb(255, 193, 7);

@mixin desktop-down() {@media only screen and (max-width: 1200px) { @content; }}

@mixin tablet-down() {@media only screen and (max-width: 768px) { @content; }}

@mixin phone-down() {@media only screen and (max-width: 480px) { @content; }}